<div class="col-md-12 mt-3" *ngIf="identity">
  <h1>{{ title }}</h1>
  <hr />

  <div class="card-columns">
    <article class="card w-100" *ngFor="let video of videos">
      <div class="card-header">
        <h3>{{ video.title }}</h3>
      </div>
      <div class="card-body">
        <div class="video-image w-100" *ngIf="video.url">
          <img src="{{ getThumb(video.url, null)}}" class="w-100" alt="{{video.title}}"/>
        </div>
        <div class="video-image w-100" *ngIf="!video.url">
          <img src="assets/img/default.jpg" class="w-100" alt="{{video.title}}"/>
        </div>

        <div class="video-buttons mt-3">
          <a [routerLink]="['/home']" class="btn btn-outline-dark btn-sm mr-2">Ver</a>
          <a [routerLink]="['/home']" class="btn btn-outline-dark btn-sm mr-2">Editar</a>
          <a [routerLink]="['/home']" class="btn btn-outline-danger btn-sm">Borrar</a>
        </div>
      </div>
    </article>
  </div>

</div>

<div class="col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron text-center w-100">
    <h1 class="display-4">Bienvenido a tu web para guardar videos</h1>
    <p class="lead">Registrate para poder guardar tus videos favoritos de youtube y poder verlos cuando quieras.</p>
    <hr class="my-4">
    <a class="btn btn-outline-dark btn-lg mr-3" [routerLink]="['/login']" role="button">Ya estoy registrado</a>
    <a class="btn btn-outline-dark btn-lg mr-3" [routerLink]="['/register']" role="button">Registrarme</a>
  </div>
</div>
